<!DOCTYPE html>
<html>
	<title>

	</title>
	<body>
		
		<form method="POST">
			{% csrf_token %}
		<div style="margin-bottom:1em">
			<label style="margin-right: 5px;">Name:</label><input id='name' name='name' type="text"></input>
		</div>
		<br>
			<label style="margin-right: 11px;">State:</label><input id='state' name='State' type="text"></input>
		<br>
			<input type="submit" style='color: blue;'>	


		</form>

	</body>
</html>